body {
  font-family: sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 20px
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  min-height: 100px
}

button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer
}

ul {
  list-style: none;
  padding: 0
}

li {
  background-color: #f4f4f4;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px
}

h4,
p {
  margin: 0
}